{% extends "template.html" %}
{% block content %} 
    <form method="POST" action="{{url_for('calcular')}}">
      <fielset>        
        <div id="choice">
          <select id='choice' name='choice' required>
            <option value='' disabled selected hidden>Escolha entre Criptografar ou Decifrar</option>
            <option value='criptografar' name='choice'>Criptografar</option>
            <option value='decifrar' name='choice'>Decifrar</option>
          </select>
        </div>
                              <br>          
        <div class="palavra">
          <input type="text" name="palavra" required/>
          <label>Palavra:</label>
          <br>
          <button type="submit" id="submit">Enviar</button>
        </div>
      </fieldset>
    </form>
    <br><br><br>
    <a id="configurar" href="{{ url_for('configurar')}}">Matriz Codificadora</a> 
{% endblock content %}
